@import "./reset";

body {
  background-color: #f5f5f5;
  font-family: sans-serif;
  color: #444;
}

section {
  padding: 2rem 0;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.loader-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  .loader {
    height: 80px;
    width: 80px;
    margin-bottom: 1rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: solid 2px #e82237;
    animation: spin 1s linear infinite;
  }
  .loader-text {
    color: #fff;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.hide {
  display: none !important;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.options-wrapper {
  justify-content: space-between;
  margin-bottom: 1rem;
}

.grid-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -.5rem;
  .item {
    height: 100%;
    width: 25%;
    padding: .5rem;
    @media screen and (max-width: 768px) {
      width: 50%;
    }
    @media screen and (max-width: 480px) {
      width: 100%;
    }
  }
}


.text-right {
  text-align: right;
}
.text-center {
  align-items: flex-end;
  justify-content: end;
  margin-top: 3px;
}
.border {
  border-right: solid 3px rgb(201, 196, 196);
  padding-right: 3px;
}
.border-space{
  padding-left: 3px;
}
.w-100 {
  width: 100%;
}

.card {
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: #FFFFFF;
  border-radius: 5px;
  overflow: hidden;
  .image {
    width: 100%;
    padding-top: 60%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .card-body {
    padding: 1rem;
  }
  .title {
    font-weight: bold;
    margin-bottom: .25rem;
  }
}

.search-box {
  padding: 1rem;
  border: none;
  border-radius: 5px;
  width: 350px;
}

.tabs {
  display: flex;
  background-color: #FFFFFF;
  border-radius: 5px;
  overflow: hidden;
  .tab-item {
    padding: 14px 1rem 1rem;
    border-bottom: 2px solid transparent;
    font-weight: 500;
    border-right: solid 1px #ededed;
    cursor: pointer;
    &:last-child{
      border-right: none;
    }
    &.active {
      color: #e82237;
      border-bottom-color: #e82237;
    }
  }
}

.table-wrapper {
  overflow: auto;
  height: 600px;
  margin-top: 5px;

  table {
    text-align: center;
    .sort-table {
      cursor: pointer;
    }
    th {
      background-color: #e82237;
      color: #fff;
    }
    td,
    th {
      border: 1px solid #dddddd;
      padding: 8px;
      vertical-align: middle;
    }
    thead th {
      position: sticky;
      top: 0;
    }
  }
}

// .table-wrapper 