*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #f5f5f5;
  font-family: sans-serif;
  color: #444;
}

section {
  padding: 2rem 0;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.loader-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
}
.loader-wrapper .loader {
  height: 80px;
  width: 80px;
  margin-bottom: 1rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: solid 2px #e82237;
  animation: spin 1s linear infinite;
}
.loader-wrapper .loader-text {
  color: #fff;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.hide {
  display: none !important;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.options-wrapper {
  justify-content: space-between;
  margin-bottom: 1rem;
}

.grid-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -0.5rem;
}
.grid-wrapper .item {
  height: 100%;
  width: 25%;
  padding: 0.5rem;
}
@media screen and (max-width: 768px) {
  .grid-wrapper .item {
    width: 50%;
  }
}
@media screen and (max-width: 480px) {
  .grid-wrapper .item {
    width: 100%;
  }
}

.text-right {
  text-align: right;
}

.text-center {
  align-items: flex-end;
  justify-content: end;
  margin-top: 3px;
}

.border {
  border-right: solid 3px #c9c4c4;
  padding-right: 3px;
}

.border-space {
  padding-left: 3px;
}

.w-100 {
  width: 100%;
}

.card {
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: #FFFFFF;
  border-radius: 5px;
  overflow: hidden;
}
.card .image {
  width: 100%;
  padding-top: 60%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.card .card-body {
  padding: 1rem;
}
.card .title {
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.search-box {
  padding: 1rem;
  border: none;
  border-radius: 5px;
  width: 350px;
}

.tabs {
  display: flex;
  background-color: #FFFFFF;
  border-radius: 5px;
  overflow: hidden;
}
.tabs .tab-item {
  padding: 14px 1rem 1rem;
  border-bottom: 2px solid transparent;
  font-weight: 500;
  border-right: solid 1px #ededed;
  cursor: pointer;
}
.tabs .tab-item:last-child {
  border-right: none;
}
.tabs .tab-item.active {
  color: #e82237;
  border-bottom-color: #e82237;
}

.table-wrapper {
  overflow: auto;
  height: 600px;
  margin-top: 5px;
}
.table-wrapper table {
  text-align: center;
}
.table-wrapper table .sort-table {
  cursor: pointer;
}
.table-wrapper table th {
  background-color: #e82237;
  color: #fff;
}
.table-wrapper table td,
.table-wrapper table th {
  border: 1px solid #dddddd;
  padding: 8px;
  vertical-align: middle;
}
.table-wrapper table thead th {
  position: sticky;
  top: 0;
}

/*# sourceMappingURL=style.css.map */
